In [2]:
a = 10

In [3]:
type(a)

int

In [4]:
a = 30.1
type(a)

float

In [5]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [6]:
type(my_taxes)

float

In [7]:
print("I'm going on a run")

I'm going on a run

In [8]:
print("hello \tworld")
len("hello")

hello 	world

5

In [9]:
mystring = "Hello World!"

In [10]:
mystring[0]

'H'

In [11]:
mystring[8]

'r'

In [12]:
mystring[-3]

'l'

In [13]:
mystring[:0]

''

In [14]:
mystring[::-1]

'!dlroW olleH'

In [15]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [ ]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [ ]:
my_list = [1, 2, 3]
my_list = ["STRING", 100, 23.2]
len(my_list)  # 3

mylist = ["one", "two", "three"]
mylist[0]
mylist[1:]

another_list = ["four", "five"]
new_list = (
    mylist + another_list
)  # ['one', 'two', 'three', 'four', 'five'] (contatenation)
new_list[0] = "ONE ALL CAPS"
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five']

new_list.append("six")  # add
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

new_list.pop()  # 'six' (in-place function)
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five']

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
new_list = ["a", "e", "x", "b", "c"]
new_list.sort()  # in-place method
new_list  # ['a', 'b', 'c', 'e', 'x']

['a', 'b', 'c', 'e', 'x']

In [ ]:
num_list = [4, 1, 8, 3]
num_list.sort()
num_list.reverse()
num_list  # [8, 4, 3, 1]

[8, 4, 3, 1]

In [ ]:
my_list = [1, 2, 3]
my_list = ["STRING", 100, 23.2]
len(my_list)  # 3

mylist = ["one", "two", "three"]
mylist[0]
mylist[1:]

another_list = ["four", "five"]
new_list = (
    mylist + another_list
)  # ['one', 'two', 'three', 'four', 'five'] (contatenation)
new_list[0] = "ONE ALL CAPS"
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five']

new_list.append("six")  # add
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

new_list.pop()  # 'six' (in-place function)
new_list  # ['ONE ALL CAPS', 'two', 'three', 'four', 'five']

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [ ]:
my_dict = {"key1": "value1", "key2": "value2"}
my_dict  # {'key1': 'value1', 'key2': 'value2'}
my_dict["key1"]  # 'value1'

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
prices_lookup = {"apple": 2.99, "oranges": 1.99, "milk": 5.80}
prices_lookup["apple"]  # 2.99

In [ ]:
d = {"k1": 123, "k2": [0, 1, 2], "k3": {"insideKey": 100}}
d["k2"]  # [0, 1, 2]
d["k3"]["insideKey"]  # 100

100

In [47]:
d = {"key1": ["a", "b", "c"]}
d  # {'key1': ['a', 'b', 'c']}

mylist = d["key1"]
mylist  # ['a', 'b', 'c']

letter = mylist[2]
letter  # 'c'
letter.upper()

'C'

In [ ]:
d["key1"][2].upper()

{'key1': ['a', 'b', 'c']}

In [ ]:
d = {"k1": 100, "k2": 200}
d  # {'k1': 100, 'k2': 200}
d["k3"] = 300
d  # {'k1': 100, 'k2': 200, 'k3': 300}

d["k1"] = "NEW VALUE"
d  # {'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
d = {"k1": 100, "k2": 200, "k3": 300}
d.keys()  # dict_keys(['k1', 'k2', 'k3'])
d.values()  # dict_values([100, 200, 300])
d.items()  # dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [ ]:
t = (1, 2, 3)
mylist = [1, 2, 3]

In [ ]:
type(t)  # tuple
type(mylist)  # list

list

In [68]:
t = ("one", 2)
t[0]  # 'one'
t[-1]  # 2

2

In [75]:
t = ("a", "a", "b")
t.count("a")  # 2
t.index("a")  # 0
t.index("b")  # 2

2

In [76]:
t[0] = "NEW"

TypeError: 'tuple' object does not support item assignment

In [77]:
myset = set()

In [ ]:
myset = set()
myset  # set()
myset.add(1)
myset  # {1}
myset.add(2)
myset  # {1, 2}
myset.add(2)
myset  # {1, 2}

{1, 2}

In [ ]:
mylist = [1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]
set(mylist)  # {1, 2, 3}

{1, 2, 3}

In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [2]:
myfile = open("myfile.txt")

In [3]:
myfile = open("whoops_wrong.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [4]:
pwd

'/Users/jiuuoo/Desktop/GitHub Repos/Learning/today-i-learned/languages/complete-python-3-bootcamp'

In [5]:
ls

environment.yml  README.md        section0.ipynb
myfile.txt       scripts/

In [ ]:
myfile.read() # 'Hello this is a text file\nthis is the second line\nthis is the third line\n'
myfile.read() # ''
myfile.seek(0) # 0
myfile.read() # 'Hello this is a text file\nthis is the second line\nthis is the third line\n'

myfile.seek(0)
myfile.readlines() # read as a list
'''
['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n'] 
'''

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [ ]:
myfile.read() # ''

''

In [12]:
myfile.seek(0)

0

In [13]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [14]:
myfile.close()

In [17]:
with open("myfile.txt", mode="w") as my_new_file:
    contents = my_new_file.read()

contents  # 'Hello this is a text file\nthis is the second line\nthis is the third line\n'

UnsupportedOperation: not readable

In [16]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [18]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [19]:
with open("my_new_file.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [20]:
with open("my_new_file.txt", mode="a") as f:
    f.write("FOUR ON FOURTH")

In [ ]:
with open("my_new_file.txt", mode="r") as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [23]:
with open("asd.txt", mode="w") as f:
    f.write("I CREATED THIS FILE!")

In [24]:
with open("asd.txt", mode="r") as f:
    print(f.read())

I CREATED THIS FILE!